@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #262626;
}

.title{
    text-align: center;
    margin-top: 100px;
}

.title--modifier{
    font-size: 30px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}